.status{
        padding: 10px;
        font-weight: 600;
    }

@media screen and (max-width: 576px) {
    #toggle-btn{
        margin: 0 auto;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .interview-btn{
        font-size: 14px;
        font-weight: 600;
        padding: 8px 10px;
    }
    .rejected-btn{
        font-size: 14px;
        font-weight: 600;
        padding: 8px 10px;
    }
    .delete-btn{
        font-size: 14px;
        font-weight: 600;
        padding: 8px 10px;
    }
    .stats{
        padding: 10px;
    }
    .stats-title{
        font-size: 16px;
    }
    .stats-number{
        font-size: 20px;
    }
    .job-type{
        font-size: 14px;
    }
    .status{
        padding: 10px;
        font-weight: 600;
    }
}